.idea
.history
int/target/
node_modules
project/target
svc/logs
svc/target/
svc/test/unit/test-results.xml
svc/test/unit/reports
svc/test/unit/node_modules
svc/test/cucumber/node_modules
svc/test/e2e/node_modules
target/
testsetup/logs
testsetup/target
