<!--Example home page showing tabs.  This is inheritated by all child states-->
<div class="home" data-ng-controller="homeController">
  <header>
    <ul class="nav nav-tabs">
      <li data-ng-class="{'active': isAtDashboard()}"><a data-ng-click="navigateToDashboard()">Help/Start</a></li>
      <li class="dropdown" data-ng-class="{'active': isAtProject() }" >
        <a  class="dropdown-toggle" data-toggle="dropdown">Sample <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a data-ng-click="navigateToProject()">Manage Project</a></li>
          <li><a data-ng-click="navigateToAddProject()">Add New Project</a></li>
        </ul>
      </li>    </ul>
  </header>

  <div class="content container-fluid" data-ui-view="home-content"></div>
</div>
